/* App.css */

body {
  /* Sage green background */
  background-color: #68b475;
  font-family: Arial, sans-serif;
  color: #333;
}

.App {
  /* Set up general page layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
