/* BikeHorizontal.css */

.bike-horizontal {
  width: 2338px;
  height: 651px;
  overflow: hidden;
  margin: auto;
  position: relative;
}

/* General bike ui. All other graphics should be laid on top */
.bike-static-ui {
  position: absolute;
  top: 0px;
  left: 150px;
  width: 2338px;
  height: 651px;
  background-image: url('assets/bike_ui_parts/main_body.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
}

.bike-battery {
  position: absolute; /* Allows for specific coords within container */
  top: 381px;
  left: 656px;
  width: 62px;
  height: 14px;
  background-image: url('assets/bike_ui_parts/battery_2.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
}

.bike-headlights-on {
  position: absolute; /* Allows for specific coords within container */
  top: 45px;
  left: 639px;
  width: 833px;
  height: 31px;
  background-image: url('assets/bike_ui_parts/headlight-on.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
}

.bike-headlights-off {
  position: absolute; /* Allows for specific coords within container */
  top: 45px;
  left: 639px;
  width: 833px;
  height: 31px;
  background-image: url('assets/bike_ui_parts/headlight-off.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
}

.bike-headlights-button {
  position: absolute; /* Allows for specific coords within container */
  top: 22px;
  left: 1110px;
  width: 85px;
  height: 35px;
  background-image: url('assets/bike_ui_parts/headlight_button.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
  opacity: 1;
}

.bike-headlights-button:hover {
  opacity: 0.8;
}

.bike-music-button {
  position: absolute; /* Allows for specific coords within container */
  top: 381px;
  left: 1110px;
  width: 85px;
  height: 35px;
  background-image: url('assets/bike_ui_parts/music_button.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
}

.bike-music-button:hover {
  opacity: 0.8;
}

.bike-music-text {
  position: absolute; /* Allows for specific coords within container */
  top: 400px;
  left: 1050px;
  width: 175px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #0f0f0f;
}

.bike-music-text-hidden {
  font-size: 0px;
}

.bike-gear-indicator {
  position: absolute; /* Allows for specific coords within container */
  top: 195px;
  left: 1280px;
  width: 30px;
  height: 30px;
  background-image: url('assets/bike_ui_parts/gear_indicator.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
}

.bike-speedometer-0 {
  position: absolute; /* Allows for specific coords within container */
  top: 185px;
  left: 1068px;
  width: 73px;
  height: 120px;
  background-size: 65% 65%;
  background-repeat: no-repeat;
  background-image: url('assets/bike_ui_parts/zero.png');
}

.bike-speedometer-5 {
  position: absolute; /* Allows for specific coords within container */
  top: 185px;
  left: 1068px;
  width: 73px;
  height: 120px;
  background-size: 65% 65%;
  background-repeat: no-repeat;
  background-image: url('assets/bike_ui_parts/five.png');
}

.bike-brakes {
  position: absolute; /* Allows for specific coords within container */
  top: 303px;
  left: 482px;
  width: 221px;
  height: 168px;
  background-image: url('assets/bike_ui_parts/brakes.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
}

.bike-brakes:hover {
  opacity: 0.8;
}

.bike-accelerate {
  position: absolute; /* Allows for specific coords within container */
  top: 303px;
  left: 1193px;
  width: 221px;
  height: 168px;
  background-image: url('assets/bike_ui_parts/accelerate.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
}

.bike-accelerate:hover {
  opacity: 0.8;
}