/* BikeHorizontal.css */

.bike-horizontal {
  width: 2338px;
  height: 651px;
  overflow: hidden;
  margin: auto;
  position: relative;
}

/* Style for the bike static UI image */
.bike-static-ui {
  position: absolute;
  top: 0px; /* Adjust the top position as needed */
  left: 150px; /* Adjust the left position as needed */
  width: 2338px; /* Adjust the width as needed */
  height: 651px; /* Adjust the height as needed */
  background-image: url('assets/bike_ui_parts/main_body.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
}

/* Style for the bike static UI image */
.bike-battery {
  position: absolute; /* Position the image absolutely within the container */
  top: 381px; /* Adjust the top position as needed */
  left: 656px; /* Adjust the left position as needed */
  width: 62px; /* Adjust the width as needed */
  height: 14px; /* Adjust the height as needed */
  background-image: url('assets/bike_ui_parts/battery_3.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
}

/* Style for the bike static UI image */
.bike-headlights-on {
  position: absolute; /* Position the image absolutely within the container */
  top: 45px; /* Adjust the top position as needed */
  left: 639px; /* Adjust the left position as needed */
  width: 833px; /* Adjust the width as needed */
  height: 31px; /* Adjust the height as needed */
  background-image: url('assets/bike_ui_parts/headlight-on.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
}

/* Style for the bike static UI image */
.bike-headlights-off {
  position: absolute; /* Position the image absolutely within the container */
  top: 45px; /* Adjust the top position as needed */
  left: 639px; /* Adjust the left position as needed */
  width: 833px; /* Adjust the width as needed */
  height: 31px; /* Adjust the height as needed */
  background-image: url('assets/bike_ui_parts/headlight-off.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
}

/* Style for the bike static UI image */
.bike-headlights-button {
  position: absolute; /* Position the image absolutely within the container */
  top: 22px; /* Adjust the top position as needed */
  left: 1110px; /* Adjust the left position as needed */
  width: 85px; /* Adjust the width as needed */
  height: 35px; /* Adjust the height as needed */
  background-image: url('assets/bike_ui_parts/headlight_button.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
  opacity: 1;
}

/* Style for the bike static UI image */
.bike-headlights-button:hover {
  opacity: 0.8;
}

/* Style for the bike static UI image */
.bike-music-button {
  position: absolute; /* Position the image absolutely within the container */
  top: 381px; /* Adjust the top position as needed */
  left: 1110px; /* Adjust the left position as needed */
  width: 85px; /* Adjust the width as needed */
  height: 35px; /* Adjust the height as needed */
  background-image: url('assets/bike_ui_parts/music_button.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
}

/* Style for the bike static UI image */
.bike-gear-indicator {
  position: absolute; /* Position the image absolutely within the container */
  top: 195px; /* Adjust the top position as needed */
  left: 1280px; /* Adjust the left position as needed */
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  background-image: url('assets/bike_ui_parts/gear_indicator.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
}

/* Style for the bike static UI image */
.bike-speedometer {
  position: absolute; /* Position the image absolutely within the container */
  top: 185px; /* Adjust the top position as needed */
  left: 1068px; /* Adjust the left position as needed */
  width: 73px; /* Adjust the width as needed */
  height: 120px; /* Adjust the height as needed */
  background-image: url('assets/bike_ui_parts/zero.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
}

/* Style for the bike static UI image */
.bike-brakes {
  position: absolute; /* Position the image absolutely within the container */
  top: 303px; /* Adjust the top position as needed */
  left: 482px; /* Adjust the left position as needed */
  width: 221px; /* Adjust the width as needed */
  height: 168px; /* Adjust the height as needed */
  background-image: url('assets/bike_ui_parts/brakes.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
}

/* Style for the bike static UI image */
.bike-accelerate {
  position: absolute; /* Position the image absolutely within the container */
  top: 303px; /* Adjust the top position as needed */
  left: 1193px; /* Adjust the left position as needed */
  width: 221px; /* Adjust the width as needed */
  height: 168px; /* Adjust the height as needed */
  background-image: url('assets/bike_ui_parts/accelerate.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
}

/* Style for the bike accelerator when hovered */
.bike-accelerate-hover {
  /* Add your hover effect styles here */
  opacity: 0.4; /* For example, reduce opacity to 80% on hover */
  /* Add any other desired styles */
}