/* PhoneVertical.css */

.phone-vertical {
  width: 350px;
  height: 705px;
  background-color: #9370DB;
  border-radius: 15px;
  border: 10px solid #333;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: auto;
  position: relative;
}

.greeting {
  text-align: center;
  margin-top: 30px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.goal-container {
  background-color: #5c1fa1;
  padding: 20px;
  height: 300px;
  text-align: center;
}

.goal-progess-cutout {
  top: 100px;
  left: 15px;
  width: 633px;
  height: 633px;
  background-size: 50% 50%;
  background-image: url('/src/assets/health_app_images/progress_bar_cutout.png');
  background-repeat: no-repeat;
  position: absolute;
}


.goal-progess-spinner {
  top: 100px;
  left: 15px;
  width: 633px;
  height: 633px;
  transform-origin: 160px 160px;
  background-image: url('/src/assets/health_app_images/progress_bar_spinner.png');
  background-size: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
}

.progress-text {
  position: absolute;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-top: 230px;
  z-index: 2;
}

.weekly-summary {
  top: 435px;
  left: 4px;
  width: 977px;
  height: 430px;
  background-image: url('/src/assets/health_app_images/weekly_summary.png');
  background-size: 35% 35%;
  background-repeat: no-repeat;
  position: absolute;
}

.previous-trip {
  top: 591px;
  left: 4px;
  width: 977px;
  height: 325px;
  background-image: url('/src/assets/health_app_images/previous_trip.png');
  background-size: 35% 35%;
  background-repeat: no-repeat;
  position: absolute;
}