/* PhoneVertical.css */

/* Style for the vertical phone */
.phone-vertical {
  width: 350px;
  height: 705px;
  background-color: #9370DB; /* Light purple background color */
  border-radius: 15px;
  border: 10px solid #333; /* Dark grey border */
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: auto;
  margin-bottom: 1%;
  position: relative;
}

/* Style for the greeting text */
.greeting {
  text-align: center;
  margin-top: 30px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

/* Style for the graphic placeholders and goal text container */
.goal-container {
  background-color: #5c1fa1; /* Darker background color */
  padding: 20px; /* Add some padding to the container */
  height: 300px;
  text-align: center;
}

.goal-progess-cutout {
  top: 100px; /* Adjust the top position as needed */
  left: 15px; /* Adjust the left position as needed */
  width: 633px; /* Set the initial width to 100% */
  height: 633px; /* Set the height as needed */
  background-size: 50% 50%;
  background-image: url('src/assets/health_app_images/progress_bar_cutout.png');
  background-repeat: no-repeat;
  position: absolute;
}


.goal-progess-spinner {
  top: 100px; /* Adjust the top position as needed */
  left: 15px; /* Adjust the left position as needed */
  width: 633px; /* Set the initial width to 100% */
  height: 633px; /* Set the height as needed */
  transform-origin: 160px 160px;
  background-image: url('src/assets/health_app_images/progress_bar_spinner.png');
  background-size: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
}

/* Style for the progress text */
.progress-text {
  position: absolute;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-top: 230px;
  z-index: 2;
}

.weekly-summary {
  top: 435px; /* Adjust the top position as needed */
  left: 4px; /* Adjust the left position as needed */
  width: 977px; /* Set the initial width to 100% */
  height: 430px; /* Set the height as needed */
  background-image: url('src/assets/health_app_images/weekly_summary.png');
  background-size: 35% 35%;
  background-repeat: no-repeat;
  position: absolute;
}