/* PhoneVertical.css */

/* Style for the vertical phone */
.phone-vertical {
  width: 350px;
  height: 705px;
  background-color: #9370DB; /* Light purple background color */
  border-radius: 15px;
  border: 10px solid #333; /* Dark grey border */
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: auto;
  margin-bottom: 1%;
}

/* Style for the greeting text */
.greeting {
  text-align: center;
  margin-top: 30px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

/* Style for the graphic placeholders and goal text container */
.goal-container {
  background-color: #5c1fa1; /* Darker background color */
  padding: 20px; /* Add some padding to the container */
  border-radius: 5px;
  text-align: center;
}

/* Style for the graphic placeholders */
.graphic-placeholder {
  width: 200px;
  height: 200px;
  background-color: #fff; /* White placeholder background */
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
}

/* Style for the progress text */
.progress-text {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
}